.container {
    margin-top: 20px;
    color: aqua;
  }
  
  .table {
    width: 100%;
    color: aqua;
  }
  
  th {
    text-align: center;
    font-weight: bold;
    color: aqua;
  }
  
  td {
    text-align: center;
    color: aqua;
  }

 

  .pp{
    color: aqua;
  }

  .no-results-message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: gray;
  }